@model IEnumerable<BlogMvcApp.Models.CategoryModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.BlogCount)
            </th>
            <th style="width:250px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @item.BlogCount    
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
